<mat-form-field
  [class.invalid]="
    (formControlDirective?.control?.invalid ?? false) && ((formControlDirective?.control?.touched ?? false) || (formControlDirective?.control?.dirty ?? false))
  "
>
  <mat-label>{{ label() }}</mat-label>
  <input
    [ngModel]="value()"
    [type]="inputType()"
    [placeholder]="placeholder()"
    [disabled]="isDisabled()"
    (blur)="markAsTouched()"
    (ngModelChange)="onChange($event)"
    matInput
  />
  @if (hint().length) {
    <mat-hint>{{ hint() }}</mat-hint>
  }
</mat-form-field>
