<mat-form-field
  [class.invalid]="
    (formControlDirective?.control?.invalid ?? false) && ((formControlDirective?.control?.touched ?? false) || (formControlDirective?.control?.dirty ?? false))
  "
>
  <mat-label>{{ label() }}</mat-label>
  <input [value]="value()" [placeholder]="placeholder()" [matDatepicker]="picker" (blur)="markAsTouched()" (dateChange)="dateChange($event.value)" matInput />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  @if (hint().length) {
    <mat-hint>{{ hint() }}</mat-hint>
  }
</mat-form-field>
