@use '@angular/material' as mat;
@use 'styles/mixins' as mixins;
@use 'sass:map';

:host {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  max-width: 1440px;
  background: map.get(mat.$azure-palette, 98);
  flex-direction: column;
}
