@use 'styles/mixins' as mixins;

:host {
  gap: mixins.rem(16);
  flex: 0 1 mixins.rem(720);
  display: flex;
  padding: mixins.rem(16);
  overflow: auto;
  background: white;
  border-radius: mixins.rem(4);
  flex-direction: column;
}
