<flex-block flexDirection="column">
  @for (formField of formFieldList(); track index; let index = $index) {
    <!-- TODO Сделать обертку <configurable-element> -->
    <!-- TODO Сделать возможность передавать в <configurable-element> поля для редактирования настроек конкретного поля -->
    @if (formElementService.isInputElement(formField)) {
      <input-element />
    }
    @if (formElementService.isSelectElement(formField)) {
      <select-element />
    }
    @if (formElementService.isDatepickerElement(formField)) {
      <datepicker-element />
    }
  }
</flex-block>
