@for (formField of formFieldList(); track index; let index = $index) {
  @if (formElementService.isInputElement(formField)) {
    <flex-block flexAlignItems="center">
      <input-element [label]="formField.label" [inputType]="formField.inputType" />
      <input-element-settings [label]="formField.label" [inputType]="formField.inputType" (settingsChanged)="changeInputSettings($event, index)" />
    </flex-block>
  }
  @if (formElementService.isSelectElement(formField)) {
    <select-element />
  }
  @if (formElementService.isDatepickerElement(formField)) {
    <datepicker-element />
  }
}
