/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'styles/themes' as themes;
@forward 'styles/global';
@include mat.core;

html {
  @include mat.all-component-themes(themes.$light-theme);
  @include mat.typography-hierarchy(themes.$light-theme);

  @media (prefers-color-scheme: dark) {
    @include mat.all-component-themes(themes.$dark-theme);
    @include mat.typography-hierarchy(themes.$dark-theme);
  }
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}
