/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use 'styles/themes' as themes;
@use 'sass:map';
@forward 'styles/global';
@forward 'styles/material.override';
@include mat.core;

html {
  @include mat.all-component-themes(themes.$light-theme);
  @include mat.typography-hierarchy(themes.$light-theme);
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  background: map.get(mat.$azure-palette, 98);
}
