<mat-form-field
  [class.invalid]="
    (formControlDirective?.control?.invalid ?? false) && ((formControlDirective?.control?.touched ?? false) || (formControlDirective?.control?.dirty ?? false))
  "
>
  <mat-label>{{ label() }}</mat-label>
  <mat-select [value]="value()" [placeholder]="placeholder()" [disabled]="isDisabled()" (selectionChange)="selectionChanged($event)" (blur)="markAsTouched()">
    @for (option of optionList(); track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
    } @empty {
      <mat-option disabled>No options available</mat-option>
    }
  </mat-select>
  @if (hint().length) {
    <mat-hint>{{ hint() }}</mat-hint>
  }
</mat-form-field>
